apiVersion: apps/v1
kind: Deployment
metadata:
  name: testkube-triggers-example
  namespace: testkube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: testkube-triggers-example
  template:
    metadata:
      labels:
        app: testkube-triggers-example
    spec:
      containers:
        - name: app
          image: dpejcev/testkube-triggers-example:latest
          ports:
            - containerPort: 8080
          env:
            - name: CONFIG_PATH
              value: "/app/config.yaml"
          volumeMounts:
            - mountPath: "/app"
              name: app-config
      volumes:
        - name: app-config
          configMap:
            name: testkube-triggers-example-config
---
apiVersion: v1
kind: Service
metadata:
  name: testkube-triggers-example-service
  namespace: testkube
spec:
  selector:
    app: testkube-triggers-example
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: testkube-triggers-example-config
  namespace: testkube
data:
  config.yaml: |
    crash: false